@use 'reset';
@use 'fonts';
@use 'vars'as *;
@use 'mixins'as *;

// Button
.btn {
  display: inline-block;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;

  &:active {
    transform: scale(0.95);
  }

  &--primary {
    padding: 10px 24px;
    min-width: 271px;
    font-size: 16px;
    background-color: transparent;
    border-color: $text-color;

    &:hover,
    &:active {
      color: $white;
      background-color: $text-color;
    }

    @include focus-visible($color: $text-color, $radius: 0);
  }

  &--accent {
    position: relative;
    padding: 12px 36px;
    min-width: 275px;
    font-size: 20px;
    text-transform: uppercase;
    color: $white;
    background-color: $accent-color;
    border-color: $accent-color;
    border-radius: 4px;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      width: 80%;
      height: 100%;
      background: linear-gradient(120deg,
          transparent 0%,
          rgba(255, 255, 255, 0.5) 50%,
          transparent 100%);
      transform: skewX(-20deg);
    }

    &:hover::before {
      animation: shimmer 1.2s forwards;
    }

    @include focus-visible($color: $accent-color);
  }

}

@keyframes shimmer {
  0% {
    left: -100%;
  }

  100% {
    left: 200%;
  }
}

// Form
.contact-form {
  margin-bottom: 0;
  max-width: 540px;
  width: 100%;
  display: flex;
  flex-direction: column;

  fieldset {
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  input {
    padding: 8px 16px 8px 0;
    width: 100%;
    display: block;
    border: none;
    font-size: 20px;
    background-color: transparent;
    border-bottom: 1px solid $text-color;
    transition: border-color 0.3s ease;

    &::placeholder {
      color: $text-color;
    }

    &:hover {
      border-color: $accent-color;
    }

    &:focus {
      @include focus-visible($color:$accent-color);
    }

    @include focus-visible($color:$accent-color);

    &:valid:not(:placeholder-shown) {
      border-bottom-color: $input-success;
    }

    &:invalid:not(:placeholder-shown) {
      border-color: $input-error;
      background-color: $input-bg-error;
    }
  }
}

// Breadcrumbs
.breadcrumbs {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 16px;


  &__list {
    display: flex;
    column-gap: 5px;
    list-style: none;
  }

  &__item {
    position: relative;

    &+& {
      padding-left: 10px;
    }

    &+&:before {
      content: '/';
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      transform: translateY(-50%);
    }

    &--current {
      pointer-events: none;
      cursor: default;

      &:hover,
      &:active {
        color: inherit;
        text-shadow: none;
      }
    }
  }

  &__link {
    transition: color 0.3s ease;

    &:hover {
      @include active-text-shadow;
    }

    &:active {
      color: rgba($text-color, 0.55);
    }

    @include focus-visible($color: $text-color, );
  }
}

// Pagination
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2px;
  font-size: 16px;
  color: $primary-color;

  &__item--active {
    .pagination__link {
      color: $white;
      background-color: $text-color;
      pointer-events: none;
    }
  }

  &__item--disable {
    display: none;
  }

  &__link,
  &__item--ellipsis {
    width: 43px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
    border-radius: 8px;
    transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;

    &:hover {
      background-color: rgba($text-color, 0.25);
      box-shadow: 0 0 0 1px $text-color;
    }

    &:active {
      transform: scale(0.95);
    }

    @include focus-visible($color: $text-color, $offset: 0, $radius: 8px);
  }

  &__item-prev-icon {
    transform: rotate(180deg);
  }

}