@use 'vars'as *;

html,
body,
.wrapper {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  @extend %opensans-400;
  font-size: 20px;
  line-height: 1.3;
  color: $text-color;
  background-color: $white;
}

.wrapper {
  flex-direction: column;
}

.main {
  flex: 1;
}

.container,
.container-lg {
  margin-inline: auto;
  padding-inline: $container-padding-lg;
  width: 100%;
}

.container {
  max-width: calc($container-max-width + ($container-padding-lg * 2));
}

.container-lg {
  max-width: calc($container-max-width-lg + ($container-padding-lg * 2));
}