@use 'reset';
@use 'fonts';
@use 'vars'as *;
@use 'mixins'as *;
@use 'helpers';
@use 'global';

.logo {
  &__link {
    display: inline-block;

    @include focus-visible();
  }

  &__image {
    max-width: 242px;
    width: 100%;
    height: auto;
  }
}

.header {
  padding-top: 36px;
  padding-bottom: 40px;

  &__inner {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 16px;
    text-transform: uppercase;
    color: $accent-color;
  }

  &__logo {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }

  &__switcher-langs,
  &__menu-list,
  &__actions {
    align-items: center;
  }

  &__switcher-lang {
    &:not(:first-child) {
      position: relative;
      padding-left: 4px;

      &::before {
        content: '/';
        position: absolute;
        top: 50%;
        left: 0;
        display: inline-block;
        transform: translateY(-50%);
      }
    }
  }

  &__switcher-lang-link {
    position: relative;
    transition: text-shadow 0.3s ease;

    &--active {
      @include active-text-shadow();
    }

    &:not(&--active) {
      @include underline-hover($accent-color);
    }

    &:active {
      color: rgba($accent-color, 0.55);
    }

    @include focus-visible();
  }

  &__menu {
    column-gap: 30px;
  }

  &__menu-item-link {
    position: relative;
    display: block;
    transition: color 0.1s ease, text-shadow 0.3s ease, transform 0.3s ease;

    &--active {
      @include active-text-shadow();
    }

    &:not(&--active) {
      @include underline-hover($accent-color);
    }

    &:active {
      color: rgba($accent-color, 0.55);
    }

    @include focus-visible();

  }

  &__actions {
    column-gap: 20px;
  }

  &__actions-item-link {
    display: block;
    line-height: 0;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.15);
    }

    @include focus-visible();

    &:active {
      transform: scale(0.95);
    }
  }

}

.footer {
  font-size: 16px;
  color: $text-color;

  &__nav {
    padding-top: 55px;
    padding-bottom: 44px;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid $secondary-color;
  }

  &__menu {}

  &__menu-item {}

  &__menu-item-link {}

  &__logo {}

  &__items {
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-between;
  }

  &__item {}

  &__item-heading {
    margin-bottom: 20px;
    color: rgba($text-color, 0.5);
  }

  &__phones-list {}

  &__phone-item {}

  &__phone-link {}

  &__emails-list {}

  &__email-item {}

  &__email-link {}

  &__address {}

  &__address-link {}

  &__socials-list {}

  &__social-item {}

  &__social-link {}

  &__form {}

  &__form-input {}

  &__form-btn {}

  &__bottom {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 11px;
    color: $accent-color;
    background-color: $secondary-color;
  }

  &__bottom-inner {
    padding-inline: 24px;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom-menu {
    column-gap: 20px;
  }

  &__bottom-menu-item {
    position: relative;

    &+& {
      padding-left: 20px;
    }

    &+&:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 1px;
      height: 100%;
      background-color: $accent-color;
      transform: translateY(-50%);
    }
  }

  &__bottom-menu-link {}
}