@use 'reset';
@use 'fonts';
@use 'vars'as *;
@use 'mixins'as *;
@use 'helpers';
@use 'global';
@use 'components';

// Promo
.promo {
  padding-block: 8px;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  color: $primary-color;
  background-color: $secondary-color;

  &__link {

    &:hover {
      @include active-text-shadow($size: 0.5px);
    }

    &:active {
      color: rgba($primary-color, 0.55);
    }

    @include focus-visible($color: $primary-color);
  }
}

// Logo
.logo {
  &__link {
    display: inline-block;

    @include focus-visible();
  }

  &__image {
    max-width: 242px;
    width: 100%;
    height: auto;
  }
}

// Header
.header {
  padding-top: 36px;
  padding-bottom: 40px;

  &__inner {
    font-size: 16px;
    text-transform: uppercase;
    color: $accent-color;
  }

  &__logo {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }

  &__switcher-lang {
    &:not(:first-child) {
      position: relative;
      padding-left: 4px;

      &::before {
        content: '/';
        position: absolute;
        top: 50%;
        left: 0;
        display: inline-block;
        transform: translateY(-50%);
      }
    }
  }

  &__switcher-lang-link {
    position: relative;
    transition: text-shadow 0.3s ease;

    &--active {
      @include active-text-shadow();
    }

    &:not(&--active) {
      @include underline-hover($accent-color);
    }

    &:active {
      color: rgba($accent-color, 0.55);
    }

    @include focus-visible();
  }

  &__menu {
    column-gap: 30px;
  }

  &__menu-item-link {
    position: relative;
    display: block;
    transition: color 0.1s ease, text-shadow 0.3s ease;

    &--active {
      @include active-text-shadow();
    }

    &:not(&--active) {
      @include underline-hover($accent-color);
    }

    &:active {
      color: rgba($accent-color, 0.55);
    }

    @include focus-visible();

  }

  &__actions {
    column-gap: 20px;
  }

  &__actions-item-link {
    display: block;
    line-height: 0;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.15);
    }

    @include focus-visible();

    &:active {
      transform: scale(0.95);
    }
  }

}

// Hero Section
.hero {
  padding-top: 115px;
  padding-bottom: 4px;
  min-height: 880px;
  @include bg-image;

  &__content {
    margin-left: auto;
    padding-left: 20px;
    max-width: 50%;
  }

  &__heading {
    margin-bottom: 60px;
    @extend %lora-400;
    font-size: 80px;
    line-height: 1.2;
    color: $accent-color;
  }
}

// New Collection Section
.new-collection {
  position: relative;
  padding-bottom: 150px;

  &__inner {
    position: relative;
    padding-top: 226px;
    column-gap: 24px;

    &:before {
      content: '';
      z-index: -1;
      position: absolute;
      top: -21%;
      left: -14%;
      width: 515px;
      height: 100%;
      @include bg-image('../images/new-collection-image-decor.svg', no-repeat, top left, contain);
      filter: opacity(40%);
    }
  }

  &__content {
    max-width: 416px;
    width: 100%;
  }

  &__heading {
    margin-bottom: 50px;
  }

  &__description {
    margin-bottom: 90px;
  }

  &__images {
    position: relative;
    max-width: calc(100% - 416px - 24px);
    width: 100%;
  }

  &__images-image {
    img {
      max-width: 331px;
      aspect-ratio: 388 / 548;
    }
  }

  &__images-image,
  &__images-box-image {

    img {
      height: 100%;
      @include object-image;
    }
  }

  &__images-box {
    position: absolute;
    top: -75px;
    right: 0;
  }

  &__images-box-image {
    margin-bottom: 40px;

    img {
      max-width: 388px;
      aspect-ratio: 388 / 434;

    }
  }

  &__images-box-description {
    max-width: 290px;
    width: 100%;
    align-self: flex-end;

    p:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

// Join Us Section
.join-us {
  background-color: $secondary-color;

  &__inner {
    column-gap: 40px;
  }

  &__image {
    width: calc(50% - 20px);
    height: auto;
    aspect-ratio: 540 / 489;
    @include bg-image;
    @include object-image;
  }

  &__box {
    padding-block: 40px;
    width: calc(50% - 20px);
    color: $primary-color;
  }

  &__box-heading {
    margin-bottom: 20px;
  }

  &__box-description {
    margin-bottom: 30px;
    @extend %lora-400;
    font-size: 30px;
  }

  &__box-form {
    margin-bottom: 0;
    max-width: 540px;
    width: 100%;

    input {
      padding: 0;
      padding-top: 8px;
      padding-right: 16px;
      padding-bottom: 8px;
      width: 100%;
      display: block;
      border: none;
      font-size: 20px;
      background-color: transparent;
      border-bottom: 1px solid $text-color;
      transition: border-color 0.3s ease;

      &+input {
        margin-top: 8px;
      }


      &::placeholder {
        color: $text-color;
      }

      &:hover {
        border-color: $accent-color;
      }

      &:focus {
        @include focus-visible($color:$accent-color);
      }

      @include focus-visible($color:$accent-color);

      &:valid {
        border-bottom-color: $input-success;
      }

      &:invalid:not(:placeholder-shown) {
        border-color: $input-error;
        background-color: $input-bg-error;
      }
    }
  }

  &__box-btn {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  &__box-consent {
    font-size: 11px;
  }
}

// The Designer Section
.the-designer {
  padding-top: 150px;
  padding-bottom: 230px;

  &__heading {
    margin-bottom: 50px;
  }

  &__description {
    font-size: 16px;
  }

  &__bio {
    position: relative;
  }

  &__bio-image {
    margin-bottom: 40px;

    img {
      max-width: 524px;
      width: 100%;
      aspect-ratio: 540 / 554;
      @include object-image;
    }
  }

  &__bio-description {
    position: absolute;
    top: 176px;
    left: -163px;
    padding: 20px 18px;
    max-width: 300px;
    width: 100%;
    @extend %lora-400;
    font-size: 20px;
    color: $primary-color;
    background-color: $white;
    border: 3px solid $secondary-color;
  }
}

.our-advantages {
  background-color: $secondary-color;

  &__inner {
    position: relative;
    padding-block: 64px;

    &::before {
      content: '';
      z-index: 1;
      position: absolute;
      bottom: 10px;
      right: -3%;
      display: block;
      width: 326px;
      height: 548px;
      @include bg-image('../images/our-advantages-decor-image.svg');
      filter: opacity(40%);
    }
  }

  &__image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 378px;
    height: auto;
    aspect-ratio: 378 / 460;
    @include bg-image;
    @include object-image;
  }

  &__content {
    width: calc(100% - 378px - 70px);
    margin-left: auto;
  }

  &__items {
    width: 100%;
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    gap: 30px 80px;
    color: $primary-color;
  }

  &__item {
    position: relative;
    padding-left: 50px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 30px;
      height: 22px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='22' fill='none' viewBox='0 0 30 22'%3E%3Cpath fill='%23513c27' d='M29.76 11.337a1.73 1.73 0 0 0-1.055-.819 9.2 9.2 0 0 0-3.072-.255c.593-2.639.206-4.721-.185-5.935a1.8 1.8 0 0 0-.813-1.017 1.8 1.8 0 0 0-1.282-.202 10.7 10.7 0 0 0-3.783 1.677A11.8 11.8 0 0 0 16.07.36a1.77 1.77 0 0 0-2.142 0 11.84 11.84 0 0 0-3.497 4.425 10.7 10.7 0 0 0-3.785-1.677 1.8 1.8 0 0 0-1.281.203 1.8 1.8 0 0 0-.813 1.017c-.39 1.214-.778 3.296-.184 5.935a9.2 9.2 0 0 0-3.073.256 1.72 1.72 0 0 0-1.055.818 1.8 1.8 0 0 0-.178 1.374c.421 1.57 1.717 4.556 5.647 6.923S13.13 22 15 22s5.355 0 9.289-2.365 5.226-5.353 5.647-6.924a1.8 1.8 0 0 0-.176-1.374m-9.613-5.082a9.3 9.3 0 0 1 3.527-1.65.28.28 0 0 1 .322.192c.501 1.563.993 4.797-1.346 8.89a16.6 16.6 0 0 1-3.56 4.268c.977-1.71 1.759-4.022 1.759-7.06a15 15 0 0 0-.702-4.64M6.005 4.801a.28.28 0 0 1 .323-.195 9.3 9.3 0 0 1 3.527 1.65 15 15 0 0 0-.702 4.638c0 3.04.782 5.353 1.756 7.057a16.6 16.6 0 0 1-3.56-4.268C5.012 9.593 5.504 6.36 6.005 4.8m.488 13.516c-3.47-2.087-4.595-4.659-4.958-6.012a.27.27 0 0 1 .027-.206.22.22 0 0 1 .127-.102 7.9 7.9 0 0 1 3.142-.137 16 16 0 0 0 1.198 2.594 18 18 0 0 0 5.213 5.72 14.6 14.6 0 0 1-4.749-1.857m8.508 2.002c-1.104-.793-4.322-3.606-4.322-9.425 0-5.545 2.916-8.357 4.17-9.308a.25.25 0 0 1 .304 0c1.254.951 4.17 3.763 4.17 9.308 0 5.854-3.202 8.634-4.322 9.425m13.463-8.009c-.363 1.348-1.488 3.92-4.958 6.012a14.6 14.6 0 0 1-4.752 1.85 18 18 0 0 0 5.212-5.72 16 16 0 0 0 1.205-2.592 7.9 7.9 0 0 1 3.144.142c.054.016.1.053.127.102a.27.27 0 0 1 .024.206z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

// Footer
.footer {
  font-size: 16px;
  color: $text-color;

  &__nav {
    padding: 55px 55px 50px;
    column-gap: 64px;
    border-bottom: 1px solid $secondary-color;
  }

  &__menu {
    width: 100%;
    max-width: calc((100% - 242px) / 2);
    column-gap: 90px;

    &:first-of-type {
      justify-content: flex-end;
    }

  }

  &__menu-item-link {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background-color: rgba($text-color, 0.35);
    }

    &--active {
      @include active-text-shadow();

      &::after {
        background-color: $text-color;
      }
    }

    &:not(&--active) {
      @include underline-hover($text-color);
    }

    &:active {
      color: rgba($text-color, 0.55);
    }

    &:focus-visible::after {
      content: none;
    }

    @include focus-visible($text-color);

  }

  &__logo {
    max-width: 242px;
    width: 100%;
  }

  .logo__link {
    display: block;
  }

  &__items {
    padding-top: 56px;
    padding-bottom: 50px;
    column-gap: 24px;
  }

  &__item {
    &:has(.footer__form) {
      max-width: 250px;
      flex: 1;
    }
  }

  &__item-heading {
    margin-bottom: 20px;
    color: rgba($text-color, 0.5);
  }

  &__phone-item,
  &__email-item {
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  &__phone-link,
  &__email-link,
  &__address-link {
    font-style: normal;

    &:hover {
      @include active-text-shadow();
    }

    &:active {
      color: rgba($text-color, 0.55);
    }

    @include focus-visible($text-color);
  }

  &__socials-list {
    column-gap: 10px;
  }

  &__social-link {
    display: block;
    line-height: 0;
    border-radius: 50%;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.15);
    }

    &:active {
      transform: scale(0.95);
    }

    @include focus-visible($color: $text-color, $radius: 50%);

  }

  &__form {
    position: relative;
    margin-bottom: 0;
    max-width: 250px;
    width: 100%;
  }

  &__form-input {
    margin-top: -8px;
    padding-top: 8px;
    padding-right: 32px;
    padding-bottom: 8px;
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid $secondary-color;
    color: $text-color;
    background-color: transparent;
    transition: border-color 0.3s ease;

    &::placeholder {
      color: $text-color;
    }

    &:hover {
      border-color: $text-color;
    }

    &:focus {
      @include focus-visible($color:$text-color);
    }

    @include focus-visible($color:$text-color);

    &:focus-visible {
      border-bottom: none;
    }

    &:valid {
      border-bottom-color: $input-success;
    }

    &:invalid:not(:placeholder-shown) {
      border-color: $input-error;
      background-color: $input-bg-error;
    }

  }

  &__form-input:hover+&__form-btn {
    transform: scale(1.15);
  }

  &__form-btn {
    position: absolute;
    top: 13px;
    right: 0;
    display: block;
    line-height: 0;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.15);
    }

    &:active {
      transform: scale(0.95);
    }

    @include focus-visible($color: $text-color, $offset: 4px);
  }

  &__bottom {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 11px;
    color: $accent-color;
    background-color: $secondary-color;
  }

  &__bottom-inner {
    padding-inline: 24px;
  }

  &__bottom-menu {
    column-gap: 20px;
  }

  &__bottom-menu-item {
    position: relative;

    &+& {
      padding-left: 20px;
    }

    &+&:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 1px;
      height: 100%;
      background-color: $accent-color;
      transform: translateY(-50%);
    }
  }

  &__bottom-menu-link {
    transition: color 0.3s ease;

    &:hover {
      @include active-text-shadow($size: 0.5px);
    }

    &:active {
      color: rgba($accent-color, 0.55);
    }

    @include focus-visible();
  }
}