<footer class="footer">
  <div class="container-lg">
    <nav class="footer__nav d-flex">
      <ul class="footer__menu d-flex">
        <li class="footer__menu-item">
          <a class="footer__menu-item-link footer__menu-item-link--active" href="#">Catalog</a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-item-link" href="#">Collections</a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-item-link" href="#">About</a>
        </li>
      </ul>
      <div class="footer__logo logo">
        <a class="logo__link" href="#">
          <img class="logo__image" src="images/Luxurious-Bridal-Haven-Logo.svg" width="242" height="51"
            alt="Luxurious Bridal Haven Logo">
        </a>
      </div>
      <ul class="footer__menu d-flex">
        <li class="footer__menu-item">
          <a class="footer__menu-item-link" href="#">Book your appointment</a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-item-link" href="#">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="footer__items d-flex">
      <div class="footer__item">
        <p class="footer__item-heading">Phones</p>
        <ul class="footer__phones-list">
          <li class="footer__phone-item">
            <a class="footer__phone-link" href="tel:+380978367320">+380 (97) 836 73 20</a>
          </li>
          <li class="footer__phone-item">
            <a class="footer__phone-link" href="tel:+380999846862">+380 (99) 984 68 62</a>
          </li>
        </ul>
      </div>
      <div class="footer__item">
        <p class="footer__item-heading">Emails</p>
        <ul class="footer__emails-list">
          <li class="footer__email-item">
            <a class="footer__email-link"
              href="mailto:office@luxuriousbridalhaven.com">office@luxuriousbridalhaven.com</a>
          </li>
          <li class="footer__email-item">
            <a class="footer__email-link"
              href="mailto:sales@luxuriousbridalhaven.com">sales@luxuriousbridalhaven.com</a>
          </li>
        </ul>
      </div>
      <div class="footer__item">
        <p class="footer__item-heading">Location</p>
        <address class="footer__address">
          <a class="footer__address-link" href="https://share.google/FefxpM9CjIvBczuKT"
            rel="noopener noreferrer nofollow">Ukraine, Kyiv,<br> st.
            Arsenalna, 5</a>
        </address>
      </div>
      <div class="footer__item">
        <p class="footer__item-heading">Social</p>
        <ul class="footer__socials-list d-flex">
          <li class="footer__social-item">
            <a class="footer__social-link" href="#" aria-label="Facebook" rel="noopener noreferrer nofollow">
              <svg width="25" height="25" role="img">
                <use href="images/sprite.svg#facebook-icon"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="#" aria-label="Instagram" rel="noopener noreferrer nofollow">
              <svg width="25" height="25" role="img">
                <use href="images/sprite.svg#instagram-icon"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__item">
        <p class="footer__item-heading">Sign-up for our newsletter</p>
        <form action="" class="footer__form">
          <label class="sr-only" for="user_email">Sign-up for our newsletter</label>
          <input class="footer__form-input" type="email" name="user_email" id="user_email" autocomplete="email"
            inputmode="email" placeholder="Enter your email" aria-label="Enter your email" required>
          <button class="footer__form-btn" type="submit" aria-label="Submit">
            <svg width="15" height="11" role="img">
              <use href="images/sprite.svg#envelop-icon"></use>
            </svg>
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container-lg">
      <div class="footer__bottom-inner d-flex">
        <p class="footer__copyright">© Luxurious Bridal Haven. All rights reserved.</p>
        <nav class="footer__bottom-nav">
          <ul class="footer__bottom-menu d-flex">
            <li class="footer__bottom-menu-item">
              <a class="footer__bottom-menu-link" href="#">Privacy Policy</a>
            </li>
            <li class="footer__bottom-menu-item">
              <a class="footer__bottom-menu-link" href="#">Refund policy</a>
            </li>
            <li class="footer__bottom-menu-item">
              <a class="footer__bottom-menu-link" href="#">Terms of Service</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
</div>
<script src="js/main.min.js"></script>
</body>

</html>