<nav aria-label="Pagination">
  <ul class="pagination">
    <li class="pagination__item pagination__item--disable pagination__item-prev"><a class="pagination__link" href="#"
        aria-label="Prev"> <svg class="pagination__item-prev-icon" width="12" height="4" role="img">
          <use href="images/sprite.svg#arrow-icon"></use>
        </svg></a></li>
    <li class="pagination__item pagination__item--active"><a class="pagination__link" href="#">1</a></li>
    <li class="pagination__item"><a class="pagination__link" href="#">2</a></li>
    <li class="pagination__item"><a class="pagination__link" href="#">3</a></li>
    <li class="pagination__item"><a class="pagination__link" href="#">4</a></li>
    <li class="pagination__item pagination__item--ellipsis">…</li>
    <li class="pagination__item"><a class="pagination__link" href="#">19</a></li>
    <li class="pagination__item"><a class="pagination__link" href="#">20</a></li>
    <li class="pagination__item"><a class="pagination__link" href="#">21</a></li>
    <li class="pagination__item pagination__item-next"><a class="pagination__link" href="#" aria-label="Next"> <svg
          class="pagination__item-next-icon" width="12" height="4" role="img">
          <use href="images/sprite.svg#arrow-icon"></use>
        </svg></a></li>
  </ul>
</nav>